
.icon-facebook-squared:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-vkontakte:before { content: '\e800'; } /* '' */
.icon-volume-off:before { content: '\e805'; } /* '' */
.icon-volume-high:before { content: '\e804'; } /* '' */
.icon-googleplus:before { content: '\e802'; } /* '' */