<?xml version='1.0' encoding='utf-8'?>
<widget id="org.madgooze.countthestars" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Count The Stars</name>
    <description>A simple meditative game.</description>
    <author email="mad.gooze@gmail.com" href="http://phonegap.com">Alexey Gusev</author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="Fullscreen" value="true" />
    <icon src="www/img/icon.png" />
    <platform name="android">
        <icon density="ldpi" src="res/icons/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icons/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icons/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />
        <splash density="land-hdpi" src="res/screens/android/screen-hdpi-landscape.png" />
        <splash density="land-ldpi" src="res/screens/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/screens/android/screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screens/android/screen-xhdpi-landscape.png" />
        <splash density="land-xxhdpi" src="res/screens/android/screen-xxhdpi-landscape.png" />
        <splash density="land-xxxhdpi" src="res/screens/android/screen-xxxhdpi-landscape.png" />
        <splash density="port-hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
        <splash density="port-xxhdpi" src="res/screens/android/screen-xxhdpi-portrait.png" />
        <splash density="port-xxxhdpi" src="res/screens/android/screen-xxxhdpi-portrait.png" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="/img/splash.png" />
        <preference name="SplashScreenBackgroundColor" value="black" />
        <preference name="SplashScreenWidth" value="1024" />
        <preference name="SplashScreenHeight" value="1024" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.1" />
    <plugin name="cordova-plugin-nativeaudio" spec="~3.0.7" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2" />
    <engine name="android" spec="~5.0.0" />
</widget>
