.menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.menu__screen {
    will-change: opacity;
    transition: opacity 0.8s;
    width: 100%;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu__screen_inactive {
    opacity: 0;
    pointer-events: none;
}

.menu__text {
    font-size: 1.3em;
    max-width: 400px;
}

.menu__btn {
    cursor: pointer;
}

.menu__btn_left {
    align-self: flex-start;
}

.menu__btn_right {
    margin-left: auto;
}

.menu__btn_center {
    margin: auto;
}

.menu__line {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
}
