.controls
    display: flex
    justify-content: space-between

.controls_wrap
    flex-wrap: wrap

hidden()
    opacity: 0
    pointer-events: none

.control
    animated-opacity()
    padding: 10px

.control_hidden
    hidden()

.control_vertical-centered
    display: flex
    align-items: center

star()
    display: inline-block
    background: radial-gradient(ellipse at center, #FFC8C8 0%, #E1E1E1 50%, #FFFFC8 100%)
    width: 20px
    height: 20px
    border-radius: 50%
    box-shadow: 0 0 15px rgba(255, 255, 200, 0.9)
    padding: 0

@keyframes blink-opacity
    0%
        opacity: 1
    100%
        opacity: 0
    0%
        opacity: 1

.control_star
    star()
    animated-opacity()
    position: absolute
    cursor: pointer
    transform: translate(-50%, -50%)

.control_blinking
    animation: blink-opacity 0.3s
    transition: none

control__element()
    display: inline-block
    white-space: nowrap
    margin-right: 10px
    &:last-of-type
        margin-right: 0

.control__text
    control__element()
    font-size: 0.9em

.control__text_song-name
    white-space: normal
    height: 1em
    line-height: 1
    pointer-events: none

.control__count
    @extends .control__text
    margin-right: 0
    margin-left: -10px
    font-weight: bold

.control__btn
    control__element()
    cursor: pointer


.control__star-icon
    control__element()
    star()
    animated-opacity()
    hidden()