doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')
        title Count The Stars - a simple meditative game
        link(href='css/fontello.css', rel='stylesheet', type='text/css')
        link(href='css/web-fonts.css', rel='stylesheet', type='text/css')
        link(href='css/style.css', rel='stylesheet', type='text/css')
        script(src='js/App.js')
        if PHONEGAP
            script(src="cordova.js")
    body.game

        .menu-wrapper
            .menu
                .menu__screen.menu__screen_start.menu__screen_inactive
                    h1 Count The Stars
                    p.menu__text Count the stars by clicking them as they appear in the sky. Try to count as many of them as you can.
                    h2.menu__btn.menu__btn_start-game Start
                .menu__screen.menu__screen_end-game.menu__screen_inactive
                    h1 You have counted #[span.menu__text_score 0] star#[span.menu__text_plural s]
                    .menu__line
                        if PHONEGAP
                            h3.menu__btn.menu__btn_share.menu__btn_left Share #[span.icon-share]
                            h3.menu__btn.menu__btn_retry.menu__btn_right #[span.icon-arrows-cw] Retry
                        else
                            h3.menu__btn.menu__btn_retry.menu__btn_center #[span.icon-arrows-cw] Retry

        .controls
            .control.control_sound.control_vertical-centered.control_hidden
                .control__btn.icon-volume-high
                .control__text.control__text_song-name caption
            //.control.control-hint
                .control__btn Hint #[span.icon-help-circled]
        .stars-holder-wrapper
            .stars-holder.stars-holder_inactive

        .controls.controls_wrap
            .control.control_scores.control_vertical-centered.control_hidden
                .control__text Counted stars:&nbsp;
                .control__count
            .control.control_mistakes.control_vertical-centered.control_hidden
                .control__text Mistakes left:
        .clouds

